@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lilita One';
  src: url('./assets/fonts/LilitaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

